extends layout

block content
    h1= title
    p Welcome to #{title}
    p Math.hypot() is applied to #{input} is #{hypot}
    p Math.ceil() is applied to #{input} is #{ceil}
    p Math.clz32() is applied to #{input} is #{clz32}